:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --primary-font: 'Outfit', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

body{
    background-color: var(--light-gray);
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

.container {
    min-width: 37.5rem;
    max-width: 140rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr{
    width: 32rem;
    background-color: var(--white);
    padding: 1.6rem 1.6rem 4rem 1.6rem;
    border-radius: 2rem;
}

.description{
    margin-top: 2.4rem;
}

.description h1{
    margin-top: 0;
    color: var(--dark-blue);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: center;
    letter-spacing: 0.005em;
}

.description p{
    margin: 1.6rem 0 0 0;
    padding: 0 1rem;
    color: var(--grayish-blue);
    font-weight: 400;
    text-align: center;
    line-height: 1.9rem;
    letter-spacing: 0.01em;
}

.attribution{
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}